<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/slick.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/stylesheets/user/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/user/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img src="/images/user/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

				</div>
				<!-- row -->
				<div class="dropdown header-links pull-right">
					<div class="dropdown header-links pull-right">
						{{#if user}}
						<li><a href=""><i class="fa fa-user-o"></i>{{user.Name}}</a></li>
						<li><a href="/profile">My Profile</a></li>
						<li><a href="/logout">Logout</a></li>
						{{else}}
						<li><a href="/login"><i class="fa fa-user-o"></i>Login</a></li>
						{{/if}}
					</div>
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Checkout</h3>
					<ul class="breadcrumb-tree">
						<a href="/">
							<li>Home</li>
						</a>
						<li class="active">/Checkout</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-7">


					Shiping Details
					<div class="shiping-details">
						<div class="section-title">
							<h3 class="title">Shiping address</h3>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="shiping-address">
							<label for="shiping-address">
								<span></span>
								Ship to a diffrent address?
							</label>
							<div class="caption">
								<form action="/save-new-address" method="post" id="checkout-validation">
									<div class="form-group">
										<input class="input" type="text" name="Name" placeholder="Name">
									</div>
									<div class="form-group">
										<input class="input" type="email" name="Email" placeholder="Email">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="Address" placeholder="Address">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="City" placeholder="City">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="State" placeholder="State">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="Country" placeholder="Country">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="Pincode" placeholder="ZIP Code">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="Number" placeholder="Phone Number">
									</div>
									<button type="submit" class="primary-btn">Save</button>
								</form>
							</div>
						</div>
					</div>
					<!-- /Shiping Details -->

				</div>

				<!-- Order Details -->
				<div class="col-md-5 order-details">
					<div class="section-title text-center">
						<h2 class="title">Checkout Address</h2>
					</div>
					<div class="order-summary ">
						<div class="payment-method ">
							<div class="input-radio ">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Home Address
								</label>
								<div class="caption">
									<div class="card" style="width: 37rem;">
										<div class="card-body" style="font-size: 12px;">
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.Name}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.Number}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.Email}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.Address}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.City}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.State}},{{getUserAddress.Country}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{getUserAddress.Zip}}</h6>
											<button class="btn btn-danger "><a
													href="/deliver-here/{{getUserAddress._id}}"> Deliver
													Here</a></button>
										</div>
									</div>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Select Your Address
								</label>
								<div class="caption">
									<p>
										{{#each newAddress}}
									<div class="card" style="width: 37rem;">
										<div class="card-body" style="font-size: 12px;">
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{this.Name}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{this.Number}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{this.Email}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{this.Address}}</h6>
											<h6 class="card-subtitle mb-2" style="font-size: 12px;">
												{{this.City}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{this.State}},{{this.Country}}</h6>
											<h6 class="card-subtitle mb-2 " style="font-size: 12px;">
												{{this.Pincode}}</h6>
											<button class="btn btn-danger "><a href="/deliver-here/{{this._id}}">
													Deliver Here</a></button>
										</div>
									</div>
									{{/each}}
									</p>
								</div>
							</div>

						</div>
						<!-- /Order Details -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->


			<!-- FOOTER -->
			<footer id="footer" style="margin-top: 40px;">
				<!-- top footer -->
				<div class="section">
					<!-- container -->
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-md-3 col-xs-6">
								<div class="footer">
									<h3 class="footer-title">About Us</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut.</p>
									<ul class="footer-links">
										<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
										<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
										<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-3 col-xs-6">
								<div class="footer">
									<h3 class="footer-title">Categories</h3>
									<ul class="footer-links">
										<li><a href="#">Hot deals</a></li>
										<li><a href="#">Laptops</a></li>
										<li><a href="#">Smartphones</a></li>
										<li><a href="#">Cameras</a></li>
										<li><a href="#">Accessories</a></li>
									</ul>
								</div>
							</div>

							<div class="clearfix visible-xs"></div>

							<div class="col-md-3 col-xs-6">
								<div class="footer">
									<h3 class="footer-title">Information</h3>
									<ul class="footer-links">
										<li><a href="#">About Us</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Orders and Returns</a></li>
										<li><a href="#">Terms & Conditions</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-3 col-xs-6">
								<div class="footer">
									<h3 class="footer-title">Service</h3>
									<ul class="footer-links">
										<li><a href="#">My Account</a></li>
										<li><a href="#">View Cart</a></li>
										<li><a href="#">Wishlist</a></li>
										<li><a href="#">Track My Order</a></li>
										<li><a href="#">Help</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /row -->
					</div>
					<!-- /container -->
				</div>
				<!-- /top footer -->


			</footer>
			<!-- /FOOTER -->


			{{!-- jQuery --}}
			<script src="https://code.jquery.com/jquery-3.6.0.js"
				integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

			{{!-- ValidationCode --}}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
				integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>

			<!-- jQuery Plugins -->
			<script src="/javascripts/user/checkout-validation.js"></script>
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/bootstrap.min.js"></script>
			<script src="/javascripts/slick.min.js"></script>
			<script src="/javascripts/nouislider.min.js"></script>
			<script src="/javascripts/jquery.zoom.min.js"></script>
			<script src="/javascripts/main.js"></script>

</body>

</html>